* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-header {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background-color: lightblue;
  /* flex-direction: row; */
}

.flex {
  display: flex;
  justify-content: center;
}

/* header */

.logo {
  /* text-align: left; */
  background-color: yellow;
  width: 20%;
  border: 1px dotted black;
}

.navigation {
  text-align: center;
  width: 40%;
  background-color: yellow;
  border: 1px dotted black;
}

.login {
  text-align: right;
  background-color: yellow;
  width: 20%;
  border: 1px dotted black;
}

/* end-header */

/* main-sections */

.section-1 {
  background-color: blue;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  background-color: pink;
  border: 1px dotted black;
  border-radius: 5px;
  width: 60%;
  height: 250px;
}

/* end-section-1 */

.section-2 {
  background-color: white;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-3 {
  background-color: grey;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-4 {
  background-color: white;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-5 {
  background-color: grey;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer-sections */
