* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 10px;
  background-color: lightblue;
  justify-content: center;
  /* flex-direction: row; */
}

/* header */

.logo {
  /* text-align: left; */
  background-color: yellow;
  width: 20%;
  border: 1px dotted black;
}

.navigation {
  text-align: center;
  width: 40%;
  background-color: yellow;
  border: 1px dotted black;
}

.login {
  text-align: right;
  background-color: yellow;
  width: 20%;
  border: 1px dotted black;
}

/* end-header */

/* main-sections */
